@font-face {
  font-family: 'Bungee Outline';
  src: url('./BungeeOutline-Regular.ttf');
}

.App {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.page-grid {
  display: grid;
  grid-template-columns: 0.30fr 1fr;
  grid-template-rows: 0.35fr 1fr;
  grid-template-areas: 
  ". header"
  "aside article";

  width: 100vw;
}

.header {
  grid-area: header;

  width: 95%;
  text-align: center;
  /* margin: 0 auto; */
}

#tmdb-library,
#titles, #posters {
  font-family: 'Bungee Outline', cursive;
  letter-spacing: 5px;
}

#tmdb-library {
  font-size: 50px;
}

#titles, #posters {
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.search-section {
  margin: auto;
}

#search-input {
  padding: 10px;
}

#search {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px;
}

.titles-bar {
  grid-area: aside;
  max-width: 25%;
  height: 100%;
  margin-left: 15px;

  overflow-y: scroll;
  position: fixed;
}

.titles-bar ul {
  width: 85%;
  padding-left: 10px;
  word-wrap: break-word;
}

.titles-bar li {
  list-style-type: none;
}

.poster-section-wrap {
  grid-area: article;
  height: 100vh;
}

.poster-section {
  width: 95%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

#posters {
  width: 75%;
}

#poster-image {
  width: 200px;
  height: 300px;
}

.image-flex {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: flex-start;
  gap: 10px;
}

.titles {
  display: none;
}

/* @media only screen and (min-width: 1281px) {

  .page-grid {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    grid-template-areas: 
    ". header"
    "aside article";
  }
  
  .header {
  grid-area: header;
  text-align: center;
  }
  
  .titles-bar {
  grid-area: aside;
  }
  
  .poster-section-wrap {
  grid-area: article;
  }
  
  .poster-section {
    margin-left: auto;
    margin-right: auto;
  }
  
} */

@media only screen and (min-width: 1025px) and (max-width: 1280px) {

  .page-grid {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    grid-template-areas: 
    ". header"
    "aside article";
  }

  .header {
    grid-area: header;
    margin: auto;
  }

  .titles-bar {
    grid-area: aside;
    max-width: 25%;
  }

  .poster-section-wrap {
    grid-area: article;
  }

  .poster-section {
    width: 95%;
    margin-left: 65px;
    margin-top: 75px;
  }

  /* #posters {
    width: 90%;
  } */

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
  }

}


@media only screen and (min-width: 991px) and (max-width: 1024px) {

  .page-grid {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: 170px 1fr;
    grid-template-areas: 
    ". header"
    "aside article";
  }
  
  .header {
  grid-area: header;
  width: 85%;
  margin: auto;
  }
  
  .titles-bar {
  grid-area: aside;
  }
  
  .poster-section-wrap {
  grid-area: article;
  }

  .poster-section {
    width: 85%;
    margin-top: 75px;
  }

  #posters {
  }

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 990px) {

  .page-grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 170px 1fr;
    grid-template-areas: 
    ". header"
    "aside article";
  }
    
  .header {
    grid-area: header;
    margin: auto;
  }
  
  .titles-bar {
  grid-area: aside;
  max-width: 25%;
  }

  .titles-bar ul {
    max-width: 75%;
    }
  
  .poster-section-wrap {
  grid-area: article;
  }

  .poster-section {
    margin-top: 75px;
    width: 95%;
  }

  #posters {
    width: 100%;
    text-align: center;
  }

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  #poster-image {
    width: 175px;
    height: 260px;
  }

}

@media only screen and (min-width: 541px) and (max-width: 767px) {

  .page-grid {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: 170px 1fr;
    grid-template-areas: 
    ". header"
    "aside article";
  }
  
  .header {
  grid-area: header;
  width: 90%;
  margin: auto;
  }

  #tmdb-library {
    font-size: 40px;
  }

  #titles {
    font-size: 30px;
  }

  #search {
    margin-top: 5px;
  }
  
  .titles-bar {
  grid-area: aside;
  max-width: 25%;
  margin-top: -7.5px;
  margin-left: 15px;
  padding-right: 15px;

  overflow-y: scroll;
  position: fixed;
  }
  
  .poster-section-wrap {
  grid-area: article;
  }

  .poster-section {
    width: 85%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #posters {
    font-size: 30px;
  }

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;
  }

  #poster-image {
    width: 145px;
    height: 215px;
  }

}


@media only screen and (min-width: 481px) and (max-width: 540px) {

  .page-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
    ". header"
    "aside article";
  }
  
  .header {
  grid-area: header;
  margin-left: 10px;
  }

  #tmdb-library, #titles {
    font-size: 30px;
  }

  #search {
    margin-top: 5px;
  }
  
  .titles-bar {
  grid-area: aside;
  max-width: 27.5%;
  margin-top: -5px;
  margin-left: 15px;
  padding-right: 15px;

  overflow-y: scroll;
  position: fixed;
  }
  
  .poster-section-wrap {
  grid-area: article;
  }

  .poster-section {
    margin: auto;
  }

  #posters {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  #poster-image {
    width: 145px;
    height: 215px;
  }

}

@media only screen and (min-width: 281px) and (max-width: 480px) {

  .page-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .search-section {
    margin-bottom: 10px;
  }

  .titles-bar {
    display: none;
  }

  .poster-section {
    width: 100%;
    margin-top: auto;
  }

  #posters {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  .image-card {
    display: flex;
    flex-direction: column;
  }

  #poster-image {
    width: 150px;
    height: 220px;
  }

  .titles-wrap {
    width: 150px;
    word-wrap: break-word;
  }

  .titles {
    display: contents;
  }

}


@media only screen and (max-width: 280px) {

  .page-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .header {
    width: 100%;
  }

  #tmdb-library {
    font-size: 35px;
  }

  .search-section {
    width: 100%;
    margin-bottom: 10px;
  }

  #search {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .titles-bar {
    display: none;
  }

  .poster-section {
    width: 100%;
    margin-top: auto;
  }

  #posters {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .image-flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  .image-card {
    display: flex;
    flex-direction: column;
  }

  #poster-image {
    width: 165px;
    height: 240px;
  }

  .titles-wrap {
    width: 150px;
    word-wrap: break-word;
    text-align: center;
  }

  .titles {
    display: contents;
  }
}
